
<img style="width: 100%;" src="../../assets/anonymous_guy_fawkes_mask.jpg" id="anonymous_guy_fawkes_mask">
<h1>
  Basic defintion: <br>  
</h1>
<h2>
  <b><i>"The use of technology to promote a political agenda or social change" </i></b>
</h2>
<p>
  But what does this really mean?<br> 
  Who are hacktivists? <br>
  and differentiates hacktivism from cyberterrorism?<br>
</p>

<p>
  These are all important questions when defining hacktivism and leads us to find the current definition over encompassing and extremely vague.
  For our project we wanted to narrow down the defintion to eliminate cyberterrorism. Before we can clarify, we need to define cyberterrorism. A largely accepted defintion for cyberterrorism is use 
  of the internet / technology to conduct violent acts that result in, or threaten, loss of life or significant bodily harm, in order to achieve 
  political or ideological gains. In other words, we want to rule out physical violence. 
</p>
<h1>
    New defintion: <br>  
  </h1>
<h2>
    <b><i>"The non-violent use of technology to promote a political agenda or social change" </i></b>
  </h2>
  <p>
    With this new definition we keep enough scope to discuss non governmental groups like anonymous while also keep the door open to discussing 
    governmental hacktivism and surveillence. We do rule out the discussion of military hacking, such as drone hacks. While there is a grey area
    here because it is not always clear whether the hacktivist is government backed, we will tread this line lightly.
  </p>

<br>
<br>
<br>