<div id="page">
        <img style="width: 100%;" src="../../assets/uwm_anon.jpg" id="anonymous_guy_fawkes_mask">
        <!-- #20c20e;-->
        <mat-divider></mat-divider>
        <section>

            <p>Based on the positive and negative points we can say there is a lot of value that hacktivism has provided to our society. Unfortunately this value comes at a price. Along with the freedom that expressing ideas anonymously provides, it opens the door to serious abuse and provides a platform for serious crimes and terrorism.</p>

  <p>While there are some hacktivist groups that have a strong sense of morals and a high level of integrity, without more internal policing, the public will have a hard time taking them seriously. For every positive action accomplished under the banner of hacktivism and human rights, there are multiple instances of cybercrime that is unwarranted, destructive, and downright juvenil that are commited by the same groups. Until this changes it will be difficult to put groups like Anonymous in the same arena as the NAACP. </p>

  <p>Not to say that this is entirely the fault of the groups themselves. Non-virtual protests are regulated and can be participated in legally. The frame-work for what a virtual protest can be is not yet in place. When legislature catches up to technology we might see a shift in hacktivism practices.  We might even see some of what is currently illegal like the DDOS attack gain protection as a legal form of protest. Other hacktivism practices may gain protection from a good Samaritan umbrella. This legalization and structure could very well lead to a more structured generation of hacktivist group.​ </p>

  <p>Even with this being said, the value that is provided by ethical hacktivists is invaluable. People are fallable. Groups have their bad apples. But the hacktivist movement is one of freedom and human rights, and it comes at a cost we are willing to pay.​<br><br>
            </p>
       </section>

</div>
