<div id="page">
        <img style="width: 100%;" src="../../assets/cultOfTheDeadCow.jpg" id="anonymous_guy_fawkes_mask">
        <!-- #20c20e;-->
        <mat-divider></mat-divider>
        <section>
            <h1><b><i>> DDOS Protests</i></b></h1>
            <b><i>AKA: Distributed denial of service attacks (DDOS)</i></b>​
            <p>
            <br>
            DDOS attacks have been used in response to unethical corporate practices. This tactic
            shares similarites with legal sit ins. Should it be treated as a legal form of protest?
            ​<br><br>
            </p>
            <h3><b><i>DDOS protects are often compared with sittins...</i></b></h3>
            <p>
            Sitins have long been organized as a legal, non-violent form of protesting.
            An example would be a large amount of people occupying a restaurant that has racist
            practices to reduce business. Distributed denial of service (DDOS) attacks are like a
            virtual sit-in. Websites are only able to handle a certain amount of traffic, like a restaurant.
            The amount of traffic a site can handle varies, but all websites have a limit to the amount of traffic they
            can handle at a given time. A DDOS attack is when multiple systems set out with the sole purpose of flooding a site with as
            much traffic as possible to the point that the site shuts down, crashes or becomes unusable. And similar to the
            restaurant, when the attack stops (or people leave the restaurant) the site becomes usable again.
            </p>
            <br>
            <h3><b><i>Case: Deportation Class (2001)</i></b></h3>
            <p>
            ​In 2001, a political protest called the “Deportation Class” was carried out against
            Lufthansa by two hacktivist groups: Kein Mensh ist illegal (No man is illegal) and
            Libertad! These two groups took issue with the use of Lufthansa's planes to deport
            immigrants by the German Government. They called out Lufthansa and said they were
            making money off the suffering of others. The groups used a modified version of the
            DDOS  tool called FloodNet. About 13,000 people used this against Lufthansa’s main
            website. This caused the web page to lag and have periods of unresponsiveness. As
            the attack was planned, and announced publicly ahead of time, it gained media attention
            right away, and combined with real world protests yielded the positive result of
            Lufthansa ceasing to allow the use of their planes for deportation.
            <br>
            <br>​
            <i>The German government later found in favor of these groups citing that the DDOS attack
            was a legal form of protest.</i>
            </p>
            <br>
            <h3><b><i>​Case: Operation PayBack (2010)</i></b></h3>
            <p>
            ​Paypal, Mastercard, and Amazon all pulled services for Wiki Leaks. This made
            it impossible to donate money to Wiki Leaks and choked them financially. In response,
            Anonymous then DDOS attacked Pay Pal and Master Card, taking both sites down. Around ten
            thousand people participated in this attack. Master Card and Pay Pal were targeted
            specifically because of their actions against Wiki Leaks, but were part of a larger
            agenda that included the attack of anti-piracy sites.
            </p>
        </section>
        <mat-divider></mat-divider>
        <section>
            <h1><b><i>> Dangers of Rogue Hacktivists</i></b></h1>
            <p>
                    Hacktivism has not purely been a benefit to the world. Many hacktivist group are slowly
                    turning to organized crime. Kevin Coleman who is a cyber terrorism expert at the Technolytics
                    Institute speaking on the topic of zero-day attacks on smart phone said "Organizations will
                    pay a finder's fee of $250,000 for zero-day vulnerability for smart phone that's why a lot
                    of hackers are moving to organized crime. It's much more lucrative" (Francis). The dangers
                    of hacking groups turning to organized crime is real. Coleman goes on to say in the Business
                    Insider article “Rogue Hacker Groups Are Actually More Dangerous Than China” "there are probably
                    100 independent hacker groups out there that are really, really good there is little chance
                    they'll be caught, and they have the capability to take sites down" (Francis).
                    <br><br>
                    Reference: <a href="https://www.businessinsider.com/rogue-hacker-groups-more-dangerous-than-china-2013-2">Businessinsider</a>
            </p>
        </section>
        <mat-divider style="background: #20c20e;"></mat-divider>
        <section>
            <h1><b><i>> Operation Darknet</i></b></h1>
            <p>
                    Operation Darknet was an attack carried out on many darknet sites hosting child porn. According
                    to Newsweek messages left on the website “Freedom Hosting II” “claimed the hack had taken down
                    10,613 sites, which according to the hacker included scam sites and “50 percent child porn.”
                    Included in the message was the calling card of Anonymous: “We do not forgive. We do not forget.
                    You should have expected us.”” (Cuthbertson).
                    <br><br>
                    Reference: <a href="https://www.newsweek.com/anonymous-hacker-dark-web-child-porn-operation-553014"> Newsweek</a>
            </p>
        </section>
        <mat-divider></mat-divider>
        <section>
            <h1><b><i>> Hacktivism during the Arab Spring</i></b></h1>
            <div>
                <iframe width="747"
                        height="420"
                        src="https://www.youtube.com/embed/Amn4wCEKmos"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <br>
            <h3><b><i>​Case: Speak2Tweet </i></b></h3>
            <p>
                In 2011, at the beginning of the Arab Spring, the Egyptian government tried (and partially succeeded)
                to shutdown the internet. Major companys: <b style="color:#20c20e;">Google</b> and
                <b style="color:#20c20e;">Twitter</b> acted as hacktivists and created the Speak2Tweet service.
                The service allowed individuals to leave voicemails, which instantly converted to tweets and given the hashtag #Egypt. Giving
                a voice to suppressed Egyptian citizens.
                <br><br>
                References:<a href="http://www.nbcnews.com/id/41431421/ns/technology_and_science-tech_and_gadgets/t/one-short-weekend-speaktweet-was-born/">
            NBCnews</a> & <a href=" https://en.wikipedia.org/wiki/Speak_To_Tweet">Wikipedia</a>
            </p>
        </section>
        <mat-divider></mat-divider>
        <section>
                <h1><b><i>> The Dukes</i></b></h1>
                <p>
                    The Russian hacker group that goes by the name: <i>The Dukes</i> is believed to be responsible
                    for hacking the Democratic National Convention. The attack took place via
                    <a href="https://usa.kaspersky.com/resource-center/definitions/spear-phishing" >spear phishing </a>
                    emails sent to specific members of the DNC. The attack
                    exposed the unethical presidential candidate selection policy of the party, and angered many party
                    members who supported Bernie Sanders. The attack is believed to have played a significant role in the
                    2016 election as Hillary failed to convert her bid for presidency in what was believed to be an easy victory
                    against the outspoken and polarizing Donald Trump.
                    <br>
                    <br>
                    Reference: <a href="https://krebsonsecurity.com/2016/11/russian-dukes-of-hackers-pounce-on-trump-win/">krebsonsecurity</a>
                    <br>
                    A good historical summary of <i>The Dukes</i> can be found in a
                    <a href="https://www.f-secure.com/documents/996508/1030745/dukes_whitepaper.pdf">summary</a> by f-secure labs.

                </p>
        </section>
        <mat-divider></mat-divider>
        <section>
                <h1><b><i>> Russian targetting US power companies</i></b></h1>
                <p>
                    Earlier this year (2018) the US Department of Homeland Security and FBI issued a statement warning
                    US infrustructure companies of an attempt by the Russian Government to compomise the company networks.
                    While nothing has come from these attempted compromises, the attack is believed to be political in nature
                    so it has been included in our case study. The signicance of the compromising US infrustructure companies
                    can prove effective when negotiating political policy, whether financial sanctions or levying nuclear sanctions on
                    Russian allys. Leverage is power, especially when it involves a country known for exploition.
                    <br>
                    <br>
                    References: <a href="https://www.us-cert.gov/ncas/alerts/TA18-074A">US-cert publication</a>
                </p>
        </section>

</div>
