<head>
  <style type="text/css"><!--.tab { text-indent: 40px; }--></style>
</head>
<div id="page">

        <!-- #20c20e;-->
        <mat-divider></mat-divider>
        <section>
            <h1><b><i>Refrences</i></b></h1>
            <p>Anderson, Nate, and UTC. “‘Operation Payback’ Attacks to Go on until ‘We Stop Being Angry.’” Ars Technica, Ars Technica, 30 Sept. 2010, arstechnica.com/tech-policy/2010/09/operation-payback-attacks-continue-until-we-stop-being-angry.</p>
            <p> “Anonymous Hackers 'Cost PayPal £3.5m'.” BBC News, BBC, 22 Nov. 2012, www.bbc.com/news/uk-20449474.​</p>
            <p>Cuthbertson, Anthony. “Anonymous Took down a Fifth of the Dark Web by Targeting Child Porn.” Newsweek, 11 Feb. 2017, www.newsweek.com/anonymous-hacker-dark-web-child-porn-operation-553014.​</p>
            <p>CNN, Cable News Network, 4 Sept. 2013, www.cnn.com/videos/world/2013/09/04/mideast-hacktivism-lakhani-pkg.cnn.</p>
            <p>Francis, David. “Rogue Hacker Groups Are Actually More Dangerous Than China.” Business Insider, Business Insider, 22 Feb. 2013,</p>
            <p>“Hacktivism.” Wikipedia, Wikimedia Foundation, 12 Nov. 2018, en.wikipedia.org/wiki/Hacktivism.​</p>
            <p>Knappenberger, Brian, director. We Are Legion: The Story of the Hacktivists. Luminant Media, 2012.​</p>
            <p>Libbenga, Jan. “German Court to Examine Lufthansa Attack.” The Register® - Biting the Hand That Feeds IT, The Register, 1 Apr. 2005, www.theregister.co.uk/2005/04/01/lufthansa_ddos_attack/</p>
            <p>Poitras, Laura, director. Risk. Praxis Films Berlin, Praxis Films, Field of Vision (II), Britdoc Foundation, 2016.</p>
            <p>Sorell, and Tom. “Human Rights and Hacktivism: The Cases of Wikileaks and Anonymous.” OUP Academic, Oxford University Press, 22 Sept. 2015, academic.oup.com/jhrp/article/7/3/391/2412155.​</p>
            <p>Wokusch, Heather. “The Case Against WikiLeaks Is a Crisis for the First Amendment.” Foreign Policy In Focus, 19 Nov. 2018, fpif.org/the-case-against-wikileaks-is-a-crisis-for-the-first-amendment/.</p>
       </section>
       <mat-divider></mat-divider>
</div>
